.rpw-form {
    width: 100%;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.5));
    color: white;
    letter-spacing: 0.06rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(">=laptop") {
        align-items: initial;
    }

    .form-body {
        width: 100%;
        background: #483bec;
        padding: 2.5rem 3rem;
        position: relative;
        @include media(">=phone") {
            width: 80%;
            border-radius: 2rem;
        }
        @include media(">=tablet") {
            width: 70%;
        }
        @include media(">=laptop") {
            width: 60%;
        }
        @include media(">=lg-laptop") {
            width: 50%;
        }
        @include media(">=desktop") {
            width: 40%;
        }

        .header {
            color: white;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            font-size: 1.3rem;
            letter-spacing: 0.2rem;
            @include media(">=tablet") {
                font-size: 1.4rem;
            }
        }

        form {
            .formel {
                color: #dbdbdb;
                transition: color 0.4s ease;
                margin: 25px 0 25px 0;

                &:hover {
                    color: white;
                }

                label {
                    display: block;
                    font-size: 1.1rem;
                }

                .form-input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding: 0.6rem 0.2rem 0.1rem 0.2rem;
                    font-size: 1rem;
                    font-family: "Poppins", sans-serif;
                    letter-spacing: 1px;
                    color: white;
                    border-bottom: 1px solid white !important;
                    width: 100%;
                    margin-top: 5px;
                    transition: padding 0.5s ease;

                    &::-webkit-input-placeholder {
                        color: rgba(255, 255, 255, 0.438);
                        font-size: 0.9rem;
                    }

                    &::-moz-placeholder {
                        color: rgba(255, 255, 255, 0.438);
                        font-size: 0.9rem;
                    }

                    &:-ms-input-placeholder {
                        color: rgba(255, 255, 255, 0.438);
                        font-size: 0.9rem;
                    }

                    &::-ms-input-placeholder {
                        color: rgba(255, 255, 255, 0.438);
                        font-size: 0.9rem;
                    }

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.438);
                        font-size: 0.9rem;
                    }

                    &.is-invalid {
                        @include is-invalid;
                    }
                }

                span {
                    &.is-invalid {
                        color: rgb(230, 118, 118);
                    }
                }
            }

            .row-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                .btn {
                    margin-top: 20px;
                    @include btn(2.5rem, 100%, #d6d6d6);
                }
            }
        }
    }
}
