@mixin is-invalid {
    border-color: red !important;
}

@mixin btn($tinggi, $lebar, $warna) {
    height: $tinggi;
    width: $lebar;
    background: $warna;
    border: transparent;
    color: #493beb;
    border-radius: 30px;
    letter-spacing: 0.06em;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    will-change: background-color, color;

    &:hover,
    &:active {
        background-color: white;
        color: #3427ca;
    }
}

@mixin header($primary, $secondary, $line-height) {
    .header {
        .title {
            color: white;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            font-size: $secondary;
            &.title-header {
                line-height: 20px;
            }
            &.title-main {
                font-size: $primary;
                line-height: $line-height;
            }
        }
    }
}

@mixin modal($visibility, $opacity) {
    width: 100%;
    height: 100vh;
    z-index: 3;
    opacity: $opacity;
    visibility: $visibility;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $bgmodal;
    transition: visibility 0.2s ease, opacity 0.5s ease;

    .modal {
        width: $modal-width;
        height: $modal-height;
        background-color: $primary;
        font-size: $font-primary;
        border-radius: 10px;
        padding: 20px 30px;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1.5fr 1fr;
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.5s ease;

        .img-product {
            padding-right: 15px;

            img {
                width: 100%;
                height: auto;
                background-color: rgb(156, 156, 156);
                transition: all 0.1s ease 0.2s;
                transform: translate(5px, 5px);

                &:hover {
                    box-shadow: 10px 10px 0 rgba($color: #000000, $alpha: 0.5);
                    transform: translate(0px, 0px);
                }
            }
        }

        .detail {
            margin-left: 10px;
            h1 {
                font-size: $title;
                margin-bottom: 10px;
            }
            span {
                color: rgb(162, 176, 255);
            }
        }

        .info {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;

            a {
                text-decoration: underline;
            }
        }

        .pesan {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .btn {
                font-family: $poppins;
                color: $primary;
                font-size: $font-primary;
                width: 120px;
                height: 30px;
                border-radius: 30px;
                outline: none;
                border: none;
                cursor: pointer;
                background-color: white;
                border: 1px solid white;
                transition: all 0.2s ease;

                &:hover {
                    border: 1px solid white;
                    background-color: transparent;
                    color: white;
                }
            }
        }

        .modal-exit {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: -1px;
            transition: all 0.2s ease 0.1s;

            &:hover {
                font-size: 16px;
            }
        }

        @include media("screen", ">=1700px") {
            width: 800px;
            height: 350px;
            font-size: 14px;
            .pesan {
                .btn {
                    width: 140px;
                    height: 35px;
                    font-size: 14px;
                }
            }
            .modal-exit {
                &:hover {
                    font-size: 18px;
                }
            }
        }
    }
}

@mixin sidebarContent {
    width: $sidebar-content-width;
    height: $sidebar-content-height;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.295);
    padding: 15px 15px;
    margin-bottom: 12px;

    p {
        margin-bottom: 24px;
    }

    .sort {
        background-color: none;
        font-size: $font-primary + 2px;
        font-weight: 300;
        width: 100%;
        height: 36.44px;
        border-radius: 5px;
        padding: 0 13px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        transition: all 0.1s ease;
    }
    .sort:hover {
        background-color: rgba(255, 255, 255, 0.137);
        font-weight: 600;
        color: rgb(255, 255, 255);
    }
}

@mixin menuActive($rotate, $top, $opacity) {
    transform: rotate($rotate);
    position: relative;
    top: $top;
    opacity: $opacity;
    transition: all 0.3s ease;
    will-change: all;
}

@mixin searchInput($width, $height) {
    display: flex;
    width: $width;
    height: $height;
    input {
        width: $width;
        font-family: $poppins;
        font-size: 15px;
        color: $text-secondary;
        background-color: $secondary;
        outline: none;
        border: none;
        border-radius: 5px 0 0 5px;
        letter-spacing: 1px;
        font-weight: 600;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.45) 0%,
            rgba(255, 255, 255, 0.6) 75.91%,
            #ffffff 100.91%
        );
        padding: 9px 13px 9px 13px;
    }

    button {
        width: $btn-width;
        height: $height;
        border-radius: 0 5px 5px 0;
        border: none;
        background-color: white;
        color: $text-secondary;
        transition: all $transition-primary;
        outline: none;

        svg {
            text-align: center;
            width: 25px;
            height: 25px;
        }
        &:hover {
            cursor: pointer;
            background-color: #cacaca;
            color: white;
        }
    }
}
