.navbar {
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    background-color: $primary;
    color: $text-primary;
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: padding 0.2s ease, height 0.2s ease;
    will-change: padding, height;
    @include media(">=phone") {
        padding: 10px 30px;
    }
    @include media(">=tablet") {
        height: 74px;
        flex-direction: row;
    }
    @include media(">=lg-laptop") {
        padding: 10px 40px;
        height: 80px;
    }

    .logo {
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        outline: none;

        h1 {
            font-weight: 400;
            font-size: 33px;
            line-height: 27px;
            @include media(">=tablet") {
                font-size: 40px;
                line-height: 31px;
            }
            @include media(">=lg-laptop") {
                font-size: 45px;
                line-height: 33px;
            }
        }
        p {
            font-size: 9px;
            letter-spacing: 4.2px;
            @include media(">=tablet") {
                letter-spacing: 4.5px;
                font-size: 11.775px;
            }
            @include media(">=lg-laptop") {
                letter-spacing: 5.1px;
                font-size: 13px;
            }
        }
    }

    .wrapper__link {
        @include media(">=lg-laptop") {
            display: flex;
            align-items: center;
        }

        .search {
            display: none;
            @include media(">=lg-laptop") {
                justify-content: flex-start;
                @include searchInput($input-search-width, $search-height);
            }
        }

        .batas {
            display: none;
            @include media(">=lg-laptop") {
                display: initial;
                height: 25px;
                border-left: 1px solid white;
            }
        }

        .dropdown-toggle {
            max-width: 100%;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include media(">=tablet") {
                width: 250px;
                height: 100%;
                cursor: pointer;
                font-size: 17px;
                display: flex;
            }

            .wrapper__menu {
                width: 37px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                @include media(">=tablet") {
                    position: relative;
                    left: 170px;
                    width: 10px;
                    height: 10px;
                    transition: transform 0.2s ease;
                    &.active {
                        transition: transform 0.2s ease;
                        transform: rotate(-90deg);
                    }
                }

                .line__menu {
                    background-color: white;
                    border-radius: 5px;
                    width: 100%;
                    height: 3.5px;
                    transform-origin: 0;
                    transition: all 0.3s ease;
                    @include media(">=tablet") {
                        height: 2px;
                        &:nth-child(1) {
                            @include menuActive(45deg, 0.5px, 1);
                            left: -3px;
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            @include menuActive(-45deg, -0.5px, 1);
                            left: 3px;
                        }
                    }

                    &.menu-active0 {
                        @include menuActive(45deg, -0.75px, 1);
                    }
                    &.menu-active1 {
                        @include menuActive(40deg, initial, 0);
                        transform: translate(-100%);
                        @include media(">=tablet") {
                            transform: initial;
                        }
                    }
                    &.menu-active2 {
                        @include menuActive(-45deg, 0.75px, 1);
                    }
                }
            }

            .profile {
                display: none;
                @include media(">=tablet") {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:hover {
                        img {
                            box-shadow: 7px 4px 0 0 #000000;
                        }
                    }
                    img {
                        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    @import "dropdown";
}
