ul {
    width: $profile-width;
    background-color: $primary;
    cursor: auto;
    display: none;
    list-style: none;
    position: absolute;
    top: 65px;
    right: 25px;
    border-radius: 0 0 15px 15px;
    padding: 15px 20px 30px 20px;
    transition:
        box-shadow $transition-secondary,
        top $transition-secondary,
        right $transition-secondary,
        position $transition-secondary
        ;

    a {
        li {
            height: 45px;
            padding: 10px 0;
            border-bottom: 1px solid $warna-batas;
            transition: all $transition-secondary;
            display: flex;
            justify-content: space-between;
            align-items: center;
            svg.profile{
                width: $icon-profile;
                height: $icon-profile;
                color: $warna-batas;
            }
            svg.about{
                width: $icon-about-width;
                height: $icon-about-height;
            }
            svg.service{
                width: $icon-service-width;
                height: $icon-service-height;
            }
        }
        li:hover {
            border-bottom: 1px solid white;
        }
        &:hover {
            font-size: $font-primary + 2px;
        }
    }

    &:hover {
        box-shadow: 10px 14px 0 .1px #001d3d;
        position: absolute;
        top: 60px;
        right: 32px;
    }
}
