$sidebar-witdth: 300px;
$sidebar-height: 100%;
$sidebar-content-width: 265px;
$sidebar-content-height: 100%;

@mixin sidebarContent() {
    width: $sidebar-content-width;
    height: $sidebar-content-height;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.295);
    padding: 15px 15px;
    margin-bottom: 12px;

    p {
        margin-bottom: 24px;
    }

    .sort {
        background-color: none;
        font-size: $font-primary + 2px;
        font-weight: 300;
        width: 100%;
        height: 36.44px;
        border-radius: 5px;
        padding: 0 13px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        transition: all .1s ease;
    }
    .sort:hover {
        background-color: rgba(255, 255, 255, 0.137);
        font-weight: 600;
        color: rgb(255, 255, 255);
    }
}

main {
    @include main;

    section.sidebar {
        width: $sidebar-witdth;
        height: $sidebar-height;
        padding: 20px;

        .urutan {
            @include sidebarContent();
        }

        .etalase {
            @include sidebarContent();
        }
    }
}
