@import "../../components/navbar";

main {
    .search__wrapper {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media(">=tablet") {
            padding: 2rem 3rem;
        }

        .search__mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            .search {
                @include searchInput(
                    100%,
                    40px,
                    linear-gradient(
                        90deg,
                        rgb(125, 102, 255) 0%,
                        rgb(125, 102, 255) 60%,
                        rgba(193, 179, 255, 0.45) 100%
                    ),
                    rgba(193, 179, 255, 0.45),
                    #f8f7ff
                );
                @include media(">=lg-laptop") {
                    display: none;
                }
            }
        }
    }
}
// main {
//     display: flex;
//     justify-content: center;
//     z-index: 1;

//     section.content {
//         width: 1000px;
//         height: 676px;
//         padding: 20px 0;
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         place-items: center;
//         gap: 20px;

//         .box {
//             cursor: pointer;
//             height: 220px;
//             width: 220px;
//             background: #ffffff;
//             box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.295);
//             border-radius: 10px;
//             overflow: hidden;

//             .product-photo {
//                 img {
//                     width: 100%;
//                     height: 120.79px;
//                     background-color: #ce12c4;
//                     border-radius: 9px 9px 0 0;
//                 }
//             }
//             .detail-product {
//                 padding: 5px 10px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 .title {
//                     color: black;
//                     font-size: $font-primary + 2px;
//                     font-weight: 500;
//                 }
//             }
//         }
//     }

//     section.sidebar {
//         width: $sidebar-witdth;
//         height: $sidebar-height;
//         padding: 20px;

//         .urutan {
//             @include sidebarContent();
//         }

//         .etalase {
//             @include sidebarContent();
//         }
//     }
// }
// .active {
//     @include modal(visible, 1);
// }

// .hidden {
//     @include modal(hidden, 0);
// }
